<%- include('./partials/header.ejs') %>

    <div class="landing-page">

        <div class="content-container con-1">

            <div class="content-item item-1">
                <h2>Start by making a free account today!</h2>
                <button class="sign-up-button">
                    Sign up
                </button>
            </div>
            <div class="content-item item-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum quos ea optio, distinctio ipsa sit nemo odit veritatis numquam maiores fugiat, voluptates, explicabo illum aliquid possimus praesentium facere. Sequi, perferendis?</p>

            </div>
            <div class="content-item item-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum quos ea optio, distinctio ipsa sit nemo odit veritatis numquam maiores fugiat, voluptates, explicabo illum aliquid possimus praesentium facere. Sequi, perferendis?</p>

            </div>

        </div>

    </div>

<%- include('./partials/footer.ejs') %>
