html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}


/* header.ejs */
nav {
    background-color: rgb(81, 118, 100);
    color: white;
}
nav .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 70%;
}
nav .links {
    margin-left: auto;
}
nav .content h1 a {
    color: white;
}
nav .links a {
    margin-right: 1em;
    padding: .3em .4em;
    color: white;
}
nav .links a:hover {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 1em;
}

/* index.ejs */

.sign-up-block {
    display: fixed;
    justify-content: center;
    z-index: 10;
    width: 100%;
    height: 90vh;
    display: none;
}
.sign-up-block .landing-sign-up {
    background-color: white;
    width: 30em;
    margin: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing-sign-up {
    padding: 3em 0;
    position: fixed;
    border-radius: 2em;
    justify-content: center;
    align-items: center;
}
.landing-sign-up div {
    margin-top: 1em;
}
.landing-sign-up input[type=text],
.landing-sign-up input[type=email],
.landing-sign-up input[type=password] {
    font-size: 1em;
    padding: .5em .7em;
    border-radius: .7em;
    width: 17em;
    border: none;
    margin-top: .3em;
    background-color: rgb(216, 229, 255);
}
.landing-sign-up-button {
    display: flex;
    justify-content: center;
}
.landing-sign-up-button input[type=submit] {
    width: 100%;
    border: none;
    background-color: #fd744e;
    color: white;
    margin-top: 1em;
    padding: 1em 0em;
    border-radius: 1em;
}
.landing-sign-up-button input[type=submit]:hover {
    background-color: #ff9679;
}

.landing-page {
    display: flex;
    justify-content: center;
}
.landing-page .content {
    margin: 0 auto;
    margin-top: 2em;
    /* 
        fixed position causes html selector
        to target only insdie nav bar
     */
     position: fixed;
    width: 50em;
    display: flex;
    flex-direction: row;
}
.landing-page .left-block {
    color: rgb(45, 51, 25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.landing-page .right-block {
    border: .1em solid gray;
    border-radius: .8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2em;
    padding: 3em 0;
    width: 50%;
}
.landing-page .sign-up-link {
    color: white;
    background-color: #fd744e;
    padding: 1em;
    border-radius: 1em;
}
.landing-page .sign-up-link:hover {
    background-color: #ff9679;
    cursor: pointer;
}
.landing-page .right-block img {
    width: 15em;
    height: 12em;
}


/* login.ejs */

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-page .content {
    border: 1px solid black;
    width: 30em;
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
    border-radius: 1em;
}
.login-page .content div {
    margin-top: 1em;
}
.login-page input[type=email],
.login-page input[type=password] {
    font-size: 1em;
    padding: .5em .7em;
    border-radius: .7em;
    width: 17em;
    border: none;
    margin-top: .3em;
    background-color: rgb(216, 229, 255);
}
.login-page-button {
    display: flex;
    justify-content: center;
}
.login-page-button input[type=submit] {
    width: 100%;
    background-color: #fd744e;
    padding: 1em;
    border-radius: 1em;
    border: none;
}
.login-page-button input[type=submit]:hover {
    background-color: #ff9679;
}


/* Contact Us */
.contact-us-page {
}
.contact-us-page h1 {
    text-align: center;
}
.contact-us-page img {
    width: 15em;
    height: 13em;
}
.contact-us-page .content {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1em;
}
.contact-us-page .content-block {
    border: 1px solid red;
    width: 22em;
    margin: 1em .6em;
}
.contact-us-page .left-block {
    display: flex;
    justify-content: center;
}
.contact-us-page input[type=text],
.contact-us-page input[type=email]{
    font-size: 1em;
    padding: .5em .7em;
    border-radius: .7em;
    width: 17em;
    border: none;
    margin-top: .3em;
    background-color: rgb(216, 229, 255);
}

