<%- include('../partials/header.ejs') %>

    <div class="page-container login-page">
        <div class="content">
            <form action="/user/login" method="POST">

                <h3>Login</h3>

                <div>
                    <p>Email</p>
                    <input type="email" name="email" placeholder="Type your email" required>
                </div>
                <div>
                    <p>Password</p>
                    <input type="password" name="password" placeholder="Type your password" required>
                </div>
                <div class="login-page-button">
                    <input type="submit" value="Login">
                </div>

            </form>


    </div>

<%- include('../partials/footer.ejs') %>
