<%- include('../partials/header.ejs') %>

    <div class="user-home-page">
        <div class="content">
            <div class="user-nav">
                <button onclick="showPopUp(event)">New Collection</button>
            </div>
            <div class="grid-block">
                <div class="recent-bar">
                    <span>Recent</span>
                    <ul>

                    </ul>
                </div>
                <div class="grid">

                    <% collections.forEach((e) => { %>

                        <a href="/user/collection/<%- e._id %>">
                            <div class="collection-grid-item">
                                <p> <%- e.name %> </p>
                            </div>
                        </a>

                    <% }) %>

                </div>
            </div>
        </div>
        <div class="popup collection-form-block" onclick="showPopUp(event)">
            <div class="collection-form" id="collection-form">
                <form action="/form/create-collection" method="POST">
    
                    <h3>Name your new collection</h3>
                    <input type="text" name="name" required><br>
    
                    <input type="submit" value="Create">
    
    
                </form>
            </div>
        </div>
    </div>

<%- include('../partials/footer.ejs') %>
