<%- include('../partials/header.ejs') %>

    <div class="page-container home-page">
        <div class="content-container con-1">
            <h1>Hello <%- user.name %></h1>   
        </div>
        <div class="content-container con-2">

            <div class="collection-grid">
                
                <% if (collections.length == 0) { %>

                    <div class="empty">

                        <h3>Looks like you have no records!</h3>
                        <div class="buttons">
                            <button onclick="showPopUp(event)" class="item">+ Collection</button>
                            <a href="/form/create-form-page" class="item">+Form</a>
                        </div>
                        

                    </div>

                <% } %>

            </div>
            <div class="form-grid">

            </div>

        </div>
    </div>
    <div class="popup create-collection" onclick="showPopUp(event)">

        <div class="popup-form sign-up-form">
            <h2>Name your collection</h2>
            <form action="/user/create-user" method="POST">

                <div class="form-input-container">
                    <input type="text" name="name" required>
                </div>
                

                <input type="submit" class="popup-submit" value="Create">

            </form>
        </div>

<%- include('../partials/footer.ejs') %>
