<%- include('../partials/header.ejs') %>

    <div class="collection-page">
        <div class="content">
            <div class="favorites-bar">
                <h3>Favorites</h3>
            </div>
            <div class="forms-list">
                
            </div>
        </div>
    </div>

<%- include('../partials/footer.ejs') %>
