<%- include('../partials/header.ejs') %>

    <div class="collection-page">
        <div class="content">
            <div class="top-bar">
                <button>+ New Form</button>
            </div>
            <div class="forms-list">
                
            </div>
        </div>
        <div class="popup form-form">
            <form action="/form/create" method="POST">

                

            </form>
        </div>
    </div>

<%- include('../partials/footer.ejs') %>
