<%- include('../partials/header.ejs') %>

    <div class="page-container form-page">

        <form action="/form/update/">

            <div class="content-container con-1">

                <h2><%- form.name %></h2>
    
            </div>
    
            <div class="table-container">
    
                <table id="form-table">
    
                    <tr class="form-columns" id="form-columns">
                        <% form.columns.forEach((column) => { %>
    
                            <td><%- column %></td>
    
                        <% }) %>
                    </tr>
    
                </table>
        
            </div>
    
            <div class="con-2">
                <button onclick="addNewEntry(event)">+ New Entry</button>
            </div>

        </form>

    </div>    


<%- include('../partials/footer.ejs') %>