<%- include('../partials/header.ejs') %>

    <div class="page-container form-page">

        <div class="content-container con-1">

            <h2><%- form.name %></h2>

        </div>

        <div class="table-container">

            <table>

                <tr class="form-columns" id="form-columns">
                    <% form.columns.forEach((column) => { %>

                        <td><%- column %></td>

                    <% }) %>
                </tr>

                <tr>
                    <% form.columns.forEach((column) => { %>

                        <td>Test</td>

                    <% }) %>
                </tr>

            </table>
    
        </div>

        <div class="con-2">
            <button onclick="addNewEntry(event)">+ New Entry</button>

        </div>


    </div>    


<%- include('../partials/footer.ejs') %>